header {
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-right: 25px;
    height: 100px;
    border-radius: 50%;
}

nav a {
    margin: 0 18px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}
